<!DOCTYPE html>
<html lang="pr-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Informações do Projeto</title>
</head>

<body>
    <h1>{{projeto.titulo}}</h1>
    <section>
        <h3>Detalhes do projeto</h3>
        <p>{{projeto.descricao}}</p>
        <h3>Tecnologias</h3>
        <p>{{projeto.tecnologias}}</p>
        <h3>GitHub</h3>
        <a href="{{projeto.link}}">Repositório no GitHub</a>
    </section>
</body>

</html>