{% extends 'base.html' %}
{% block title %} Home | Meu Portifólio {% endblock %}
{% block content %}
<!-- dividindo a página em seções -->
<section>
    <h1>Sobre mim</h1>
    <p>Olá, me chamo Gabriel, sou desenvolvedor python</p>
</section>
<section>
    <h2>Habilidades</h2>
    <!-- criando uma lista com ul -->
    <ul>
        <!-- criando itens na lista usando o laço for com os dados recebidos do views -->
        {% for chave, dados in habilidades.items %}
        <li>{{ dados.nome }}</li>
        {% endfor %}
    </ul>
</section>
<section>
    <h2>Contatos</h2>
    <p>Email: gabrielveronezgiolo@gmail.com</p>
    <p>LinkedIn: link</p>
</section>
{% endblock %}